* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
}

.first-bar {
    background-color: #222;
    display: flex;
    justify-content: flex-end;
}

.icon {
    width: 13rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_user {
    font-size: 1.5rem;
    color: #ccc;
}

.icon_image {
    display: block;
    width: 55px;
    height: auto;
    background-color: #ccc;
    box-sizing: content-box;
    padding: .45rem 1rem;
}

.second-bar {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.l-side {
    display: flex;
    width: 20%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.l-side_img {
    width: 8rem;
    margin: 0 1rem;
}

.r-side_button {
    text-transform: capitalize;
    color: aliceblue;
    border: none;
    font-size: 1rem;
    background-color: rgba(255, 71, 71);
    padding: .8rem 2.5rem;
}

body {
    background-color: rgba(0, 0, 80, .9);
}